@page "/"
@using blazor.Components
@using blazor.Store
@inject AppState AppState
@implements IDisposable




<TimerService />
<StopwatchService/>
<Stopwatch/>
<div class="content">
    <div class="center">
        <Stopwatch />
    </div>
</div>
<div class="footer">
    <div class="footerActions">Test</div>
</div>



@code {

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

}