@page "/"
@using blazor.Components
@using blazor.Store
@inject AppState AppState
@implements IDisposable




<h1>Hello, world!</h1>

Welcome to your new app.
<TimerService />
<Counter />

@AppState.SelectedNumber
@AppState.AppTimer.CurrentHour
@AppState.AppTimer.CurrentMinute
@AppState.AppTimer.CurrentSecond


@code {

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

}