@page "/"
@using blazor.Components
@using blazor.Store
@inject AppState AppState
@implements IDisposable




<TimerService />
<StopwatchService/>
<div id="appContents">
    <div id="appBody">
        <div id="appCenter">
            <Stopwatch />
        </div>
    </div>
    <div id="appFooter">
        <div id="appFooterActions">Test</div>
    </div>
</div>



@code {

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

}