@page "/"
@using blazor.Components
@using blazor.Store
@using blazor.Models
@inject AppState AppState
@implements IDisposable




<TimerService />
<StopwatchService/>

<Modal />

<div id="appContents" class="@AppState.AppModal.ContentClass">
    <div id="appBody">
        <div id="appCenter">
            <ViewController />
        </div>
    </div>
    <div id="appFooter">
        <div id="appFooterActions">
            <PrimaryButton AdditionalCss="appFooterActions" OnClickCallback="() => { AppState.UpdateView(ViewOptionEnum.Timer); }">Timer</PrimaryButton>
            <PrimaryButton AdditionalCss="appFooterActions" OnClickCallback="AppState.AppModal.ShowModal">Settings</PrimaryButton>
        </div>
    </div>
</div>



@code {

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

    void SwitchToTimer()
    {
        AppState.UpdateView(ViewOptionEnum.Timer);
    }



}