@namespace blazor.Components
@using blazor.Store
@inject AppState AppState

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="TestTimer">Click me</button>

@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount += 1;
        AppState.SetNumber(currentCount+1);
    }
    void TestTimer()
    {
        AppState.AppTimer.SetTimer(0,2,30);
        AppState.AppTimer.StartTimer();
    }
}
