@namespace blazor.Components
@using System.Text;
@using blazor.Store
@inject AppState AppState
@implements IDisposable



<p>
    @FormatDisplayTime()
</p>
@* Todo: break out into two buttons, one for start/pause and show depending on running status *@
<div class="timerButtons">
    @*<button class="btn-primary stopwatchLeftButon" @onclick="StartPause">@FormatStartPauseText()</button>*@
    <PrimaryButton AdditionalCss="timerLeftButon" OnClickCallback="StartPause">@FormatStartPauseText()</PrimaryButton>
    <PrimaryButton AdditionalCss="timerRightButon" OnClickCallback="ResetStopwatch">Reset</PrimaryButton>
</div>


@code {


    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

    void StartPause()
    {
        if (AppState.AppStopwatch.IsRunning())
        {
            AppState.AppStopwatch.PauseStopwatch();
        }
        else
        {
            AppState.AppStopwatch.StartStopwatch();
        }
    }
    void ResetStopwatch()
    {
        AppState.AppStopwatch.ResetStopwatch();
    }
    string FormatDisplayTime()
    {
        StringBuilder sb = new StringBuilder();
        sb.AppendFormat("{0:D2}:", AppState.AppStopwatch.CurrentHours);
        sb.AppendFormat("{0:D2}:", AppState.AppStopwatch.CurrentMinutes);
        sb.AppendFormat("{0:D2}", AppState.AppStopwatch.CurrentSeconds);

        return sb.ToString();
    }

    string FormatStartPauseText()
    {

        return AppState.AppStopwatch.IsRunning() ? "Stop" : "Start";
    }

}
