@namespace blazor.Components
@using blazor.Store
@using blazor.Models
@inject AppState AppState
@implements IDisposable

@switch (AppState.AppView)
{
    case ViewOptionEnum.Timer:
        <Timer />
        break;
    case ViewOptionEnum.Stopwatch:
        <Stopwatch />
        break;
    case ViewOptionEnum.Dismiss:
        <Dismiss />
        break;
    case ViewOptionEnum.Splits:
        <div>TODO</div>
        break;
}
@*switch (priority)
    {
        case Priority.Low:
        case Priority.Medium:
        case Priority.Zero:
        default:
            return false;
        case Priority.Important:
        case Priority.Critical:
            return true;
    }*@

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }


}
