@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
}



#appContents {
    height: 100vh;
    position: relative;
}

#appBody {
    padding: 10px;
    padding-bottom: 60px; /* Height of the footer */
}

#appCenter {
    position: absolute;
    height: 50px;
    top: 30%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%)
}

    #appCenter p {
        font-size: 8em;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

#appFooter {
    background: red; /*enabled for visualisation*/
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px; /* Height of the footer */
}

#appFooterActions {
    position: relative;
    float: right;
    padding-right: 50px;
}
