@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
}

.content {
    
}

.footer {
    /*background: red; enabled for visualisation*/
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}
.footerActions {
    position: relative;
    float: right;
    padding-right: 50px;
}